.cart .cart-items .cart-items-title {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
}

.cart .cart-items .cart-items-title img {
    max-width: 100px;
}

.cart .cart-items .cart-items-title .cross-icon {
    cursor: pointer;
}


.cart .cart-items .cart-items-item p,
.cart .cart-items .cart-items-item Link p {
    display: flex;
    align-items: center;
}

.cart .cart-bottom {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.cart .cart-bottom .cart-total .cart-total-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart .cart-bottom .cart-total .cart-total-details p {
    margin: 12px 0;
}

.cart .cart-bottom .cart-promocode {
    margin-top: 40px;
    width: 40%;
}

.proceed-checkout {
    min-width: 100%;
    border: 1px solid rgb(0, 126, 38);
    background: rgb(0, 126, 38);
    color: #fff;
    padding: 9px 30px;
    cursor: pointer;

}
.cart .cart-bottom .cart-promocode .cart-promocode-input {
    display: flex;
    height: 30px;
    gap: 10px;
}
.cart .cart-bottom .cart-promocode .cart-promocode-input  input {
    padding-left: 12px;
    width: 60%;
}
.cart .cart-bottom .cart-promocode .cart-promocode-input  button {
    width: 30%;
    border: 1px solid black;
    background: #000;
    cursor: pointer;
    color: #fff;
}

.cart .cart-bottom .cart-total {
    width: 50%;
}

@media (max-width: 480px) {
    .cart .cart-items .cart-items-title img {
        max-width: 50px;
    }
}