.accessory-view {
    display: flex;
    flex-wrap: wrap;
}

.accessory-view .accessory-view-left {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.accessory-view .accessory-view-left .accessory-view-img-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
    overflow: hidden;
}

.accessory-view .accessory-view-left .accessory-view-img-list img {
    width: 100%;
    cursor: pointer;
}

.accessory-view .accessory-view-left .accessory-view-img {
    width: 430px;
}

.accessory-view .accessory-view-left .accessory-view-img img {
    width: 100%;
}

@media (max-width: 685px) {
    .accessory-view .accessory-view-left .accessory-view-img-list {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}